* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
}
.nav {
    position: fixed;
    height: 51px;
    width: 100%;
    background-color: #212121;
    z-index: 999;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    
}
.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}
.subheader {
    height: 84px;
    background-color: rgba(0,0,0, .6);
    position: absolute;
    width: 100%;
    margin-top: 51px;
}
.subheader .subheader_logo {
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheader_official {
    opacity: 0.5;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
}
.subheader .subheader_call {
    font-size: 12px;
    margin-top: 19px;
    font-weight: 300;
    color: #ffffff;
    text-align: right;
}
.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 12px;
}
.subheader .subheader_btn, .promo .promo_btn {
    margin-top: 16px;
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.11);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
    text-align: center;
    
    
}
.promo {
    min-height: 800px;
    background: url('../img/background/layer_1_2.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header {
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
}
.promo .promo_subheader {
    line-height: 36px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 22px;
}
.promo .promo_descr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
}
.promo .promo_btn {
    width: 265px;
    height: 69px;
    display: block;
    position: center;
    margin: 115px auto 0 auto;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;

}
.causes {
    min-height: 900px;
    padding: 71px 0 65px 0;
}
.row {
    align-items:center;
}
.causes_header {
    margin: 0 auto;
    width: 112px;
    height: 24px;
    padding: 5px 0 10px 0;
    background-color: #000000;
    font-size: 11px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
}
.causes_subheader {
    margin-top: 38px;
    text-align: center;
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    
}

.causes .causes_block {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 35px;
}
.causes .causes_block .causes_round
{
    display: flex;
    justify-content: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    align-items:center;
}
.causes .causes_block .causes_descr {
    width: 343px;
}

.causes .causes_block .causes_text {
    margin-top: 7px;
    font-size: 15px;
    font-weight: 300;
    color: #202020;
}
.causes .causes_block .causes_descr .causes_sub {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #1eacc7;
}



